@model IEnumerable<Lab1_KASR_MAGZ.Models.Players>


@{
    ViewData["Title"] = "Index";
}

<h1>Major League Soccer Database</h1>

<b><p>Which list do you want to use?</p></b>
<p>
    <a asp-action="CraftList">Craft list</a>
</p>
<p>
    <a asp-action="ListC">List C#</a>
</p>
<p>

</p>
<p>
</p>
<b><p>How do you want to upload the data?</p></b>

<b><p>IMPORT FILE</p></b>
<form asp-controller="Players" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="postedFile" value="" />
    <input type="submit" value="Import" />
</form>
<p>

</p>
<b><p>MANUAL</p></b>
<p>
    <a asp-action="Create">Create New</a>
</p>

<b><p>What do you want to search?</p></b>
<form action="Players/Searching" method="post">

    <input type="type" name="information" value="" />
    <button>Enviar</button>
</form>
<b><p>Search a salary</p></b>
<form action="Players/SearchingMajorSalary" method="post">
    <button>Major than</button>   <input type="number" name="information" value="" style='width:90px; height:30px;font-size:20px;color:blue' /> 
</form>
<form action="Players/SearchingMinorSalary" method="post">
    <button>Minor than</button>   <input type="number" name="information" value="" style='width:90px; height:30px;font-size:20px;color:blue' /> 
</form>
<form action="Players/SearchingEqualSalary" method="post">
    <button>Equal to</button>     <input type="number" name="information" value="" style='width:90px; height:30px;font-size:20px;color:blue' /> 
</form>
<p>
    <a asp-action="Download">Download Log</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>




